{% extends 'base.html.twig' %}
{% block title "Recette - "~ recipe.title %}
{% block body %}
    <h2 class="font-extrabold text-3xl">{{ recipe.title }}</h2>
    <p class="text-xl">{{ recipe.content | nl2br }}</p>
{% endblock %}





